<div class="row-two">
    <div class="container-padding">
        r2c1
    </div>
    <div class="container-padding">
        <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Courses</th>
            <th>
                <div class="btn-group pull-right">
                        <button type="button" mat-raised-button color="accent" (click)="saveStudent()">
                            <i class="material-icons">
                                    save_alt
                                    </i>
                        </button>
                        <button type="button" mat-raised-button color="warn" [disabled]="disableAddButton" (click)="addStudent()">
                            <i class="material-icons">
                                    create
                                    </i>
                        </button>
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentArray; let i = index">
            <th *ngIf="student.editMode === false" scope="row">{{ student.id }}</th>
            <td *ngIf="student.editMode === false">{{ student.firstName }}</td>
            <td *ngIf="student.editMode === false">{{ student.lastName }}</td>
            <td *ngIf="student.editMode === false">{{ student.course }}</td>

            <th *ngIf="student.editMode" scope="row">
                    <input [(ngModel)]="student.id" type="text" class="form-control" placeholder="ID">
            </th>
            <td *ngIf="student.editMode">
                    <input [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="First Name">
            </td>
            <td *ngIf="student.editMode">
                    <input [(ngModel)]="student.lastName" type="text" class="form-control" placeholder="Last Name">
            </td>
            <td *ngIf="student.editMode">
                    <input [(ngModel)]="student.course" type="text" class="form-control" placeholder="Course">
            </td>

            <td><button type="button" class="pull-right" mat-raised-button color="warn" (click)="removeStudent(i)">
                    <i class="material-icons">delete_sweep</i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-padding">
        r2c3
    </div>
</div>